.itemPicture{

   width:  500px;
   height: 300px;
   object-fit:scale-down;
}
.itemPicturel{

   width:  300px;
   height: 200px;
   object-fit: scale-down;
}

.grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 300px 300px 0px;
   margin-left: 100px;
   margin-bottom: 200px;
   padding-bottom: 200px;
 }
 
 .grid-container > div {
   text-align: center;
   width: 300px;
   height: 10px;
   font-size: 25px;
 }

 .itemPicture4 {
    margin-right: 100px;
   grid-column-start: 2;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 3;
 }
 .itemPicture1 {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 1;
   grid-row-end: 1;
 }
 .itemPicture2 {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 2;
   grid-row-end: 2;
 }
 .itemPicture3 {
   grid-column-start: 1;
   grid-column-end: 1;
   grid-row-start: 3;
   grid-row-end: 3;
 }
 .brandName {
   
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end:  3;
 }
 .description {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 5;
   grid-row-end: 5;
 }
 .price {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 4;
   grid-row-end:  4;
 }
 .itemNamel {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 1;
 }
 .allOptions {
   grid-column-start: 3;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end:  2;
 }

 #innerdetails-grid {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 5px;
   margin-right: 500px;
 }
 #innerdetails-grid > div {
   background: lightgreen;
   padding: 8px;
 }